<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>글 목록</title>
</head>
<body>
<h1>전체 글 목록</h1>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>제목</th>
    <th>내용</th>
    <th>공개여부</th>
    <th>작성일</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="post : ${posts}">
    <td th:text="${post.id}">1</td>
    <td th:text="${post.title}">제목</td>
    <td th:text="${post.content}">내용</td>
    <td th:text="${post.isPublic}">true</td>
    <td th:text="${#temporals.format(post.createdDatetime, 'yyyy-MM-dd HH:mm')}">날짜</td>
  </tr>
  </tbody>
</table>

<br>
<button type="button" onclick="location.href='/posts'">글 작성으로</button>

</body>
</html>
